@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');

.title, .title_bold, .text, a {
	font-family: 'Roboto', sans-serif;
}

.title {
	font-size: 42px;
	font-weight: 300;
}

.title_bold {
	font-size: 42px;
	font-weight: 900;
	margin: 20px 0;
}

.text {
	font-size: 18px;
	line-height: 1.5;
	margin: 15px 0;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 7%;
}